### Connection to the server

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\hp world\anaconda4\lib\site-packages

You are using pip version 9.0.1, however version 20.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
import pymongo

In [3]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

### List the databases present

In [4]:
print(myclient.list_database_names())

['admin', 'config', 'fit5141', 'local']

### Create new database

In [11]:
new_db = myclient['university']

### Create new collection

In [73]:
new_db = myclient['university']
new_collection = new_db['student']

In [74]:
new_document = {'name':'abc','age':22,'mobile':9303}
coll = new_collection.insert_one(new_document)

In [17]:
print(new_db.list_collection_namesQ())

['student']

In [18]:
print(myclient.list_database_names())

['admin', 'config', 'fit5141', 'local', 'university']

In [75]:
doc_list = [{'name':'aec','age':22,'mobile':93032},{'name':'abhc','age':22,'mobile':93013},{'name':'aebc','age':22,'mobile':91303}]

In [76]:
coll = new_collection.insert_many(doc_list)

In [23]:
x = new_collection.find_one()

In [24]:
print(x)

{'_id': ObjectId('5eea2c85c3edd5b6b5337f72'), 'name': 'abc', 'age': 22, 'mobile': 9303}

In [79]:
x = new_collection.find().limit(2)

In [80]:
for each in x:
    print(each)

{'_id': ObjectId('5eea32acc3edd5b6b5337f78'), 'name': 'abc', 'age': 22, 'mobile': 9303}
{'_id': ObjectId('5eea32b0c3edd5b6b5337f79'), 'name': 'aec', 'age': 22, 'mobile': 93032}

In [38]:
x = new_collection.find({},{'_id':0,'age':0,'mobile':0})

In [39]:
for each in x:
    print(each)

{'name': 'abc'}
{'name': 'aec'}
{'name': 'abhc'}
{'name': 'aebc'}

### Condition in search query

In [52]:
x = new_collection.find({'age':{'$eq':['abc','abhc']}})

In [53]:
for each in x:
    print(each)

## sorting

In [60]:
sort = new_collection.find().sort('mobile', -1)

In [61]:
for each in sort:
    print(each)

{'_id': ObjectId('5eea2d3cc3edd5b6b5337f73'), 'name': 'aec', 'age': 22, 'mobile': 93032}
{'_id': ObjectId('5eea2d3cc3edd5b6b5337f74'), 'name': 'abhc', 'age': 22, 'mobile': 93013}
{'_id': ObjectId('5eea2d3cc3edd5b6b5337f75'), 'name': 'aebc', 'age': 22, 'mobile': 91303}
{'_id': ObjectId('5eea2c85c3edd5b6b5337f72'), 'name': 'abc', 'age': 22, 'mobile': 9303}
{'_id': ObjectId('5eea313cc3edd5b6b5337f76'), 'name': 'pod', 'age': 19}
{'_id': ObjectId('5eea3145c3edd5b6b5337f77'), 'name': 'pod', 'age': 19}

In [57]:
x = new_collection.insert_one({'name':'pod','age':19})

### Delete

In [63]:
new_collection.delete_one({'name':'abc'})

In [66]:
x = new_collection.find({})

In [67]:
for each in x:
    print(each)

{'_id': ObjectId('5eea2d3cc3edd5b6b5337f73'), 'name': 'aec', 'age': 22, 'mobile': 93032}
{'_id': ObjectId('5eea2d3cc3edd5b6b5337f74'), 'name': 'abhc', 'age': 22, 'mobile': 93013}
{'_id': ObjectId('5eea2d3cc3edd5b6b5337f75'), 'name': 'aebc', 'age': 22, 'mobile': 91303}
{'_id': ObjectId('5eea313cc3edd5b6b5337f76'), 'name': 'pod', 'age': 19}
{'_id': ObjectId('5eea3145c3edd5b6b5337f77'), 'name': 'pod', 'age': 19}

In [68]:
new_collection.update_many({'name':'aec'},{"$set":{'age':25}})

In [69]:
x = new_collection.find({})

In [70]:
for each in x:
    print(each)

{'_id': ObjectId('5eea2d3cc3edd5b6b5337f73'), 'name': 'aec', 'age': 25, 'mobile': 93032}
{'_id': ObjectId('5eea2d3cc3edd5b6b5337f74'), 'name': 'abhc', 'age': 22, 'mobile': 93013}
{'_id': ObjectId('5eea2d3cc3edd5b6b5337f75'), 'name': 'aebc', 'age': 22, 'mobile': 91303}
{'_id': ObjectId('5eea313cc3edd5b6b5337f76'), 'name': 'pod', 'age': 19}
{'_id': ObjectId('5eea3145c3edd5b6b5337f77'), 'name': 'pod', 'age': 19}

In [71]:
new_collection.drop()

In [72]:
print(new_db.list_collection_names())

[]