In [1]:
import pandas as pd
import pymongo

In [2]:
data = pd.read_csv("climate_historic.csv")

In [3]:
data.head()

,Unnamed: 0,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,1,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,2,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,3,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,4,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,5,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [4]:
data.dtypes

Unnamed: 0       int64
Sales          float64
CompPrice        int64
Income           int64
Advertising      int64
Population       int64
Price            int64
ShelveLoc       object
Age              int64
Education        int64
Urban           object
US              object
dtype: object

In [5]:
column_names = list(data.iloc[:,1:].columns)

In [6]:
column_names

['Sales',
 'CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'ShelveLoc',
 'Age',
 'Education',
 'Urban',
 'US']

In [7]:
data['Price'].values

array([120,  83,  80,  97, 128,  72, 108, 120, 124, 124, 100,  94, 136,
        86, 118, 144, 110, 131,  68, 121, 131, 109, 138, 109, 113,  82,
       131, 107,  97, 102,  89, 131, 137, 128, 128,  96, 100, 110, 102,
       138, 126, 124,  24, 134,  95, 135,  70, 108,  98, 149, 108, 108,
       129, 119, 144, 154,  84, 117, 103, 114, 123, 107, 133, 101, 104,
       128,  91, 115, 134,  99,  99, 150, 116, 104, 136,  92,  70,  89,
       145,  90,  79, 128, 139,  94, 121, 112, 134, 126, 111, 119, 103,
       107, 125, 104,  84, 148, 132, 129, 127, 107, 106, 118,  97,  96,
       138,  97, 139, 108, 103,  90, 116, 151, 125, 127, 106, 129, 128,
       119,  99, 128, 131,  87, 108, 155, 120,  49, 133, 116, 126, 147,
        77,  94, 136,  97, 131, 120, 120, 118, 109,  94, 129, 131, 104,
       159, 123, 117, 131, 119,  97,  87, 114, 103, 128, 150, 110,  69,
       157,  90, 112,  70, 111, 160, 149, 106, 141, 191, 137,  93, 117,
        77, 118,  55, 110, 128, 185, 122, 154,  94,  81, 116, 149,  91,
       140, 102,  97, 107,  86,  96,  90, 104, 101, 173,  93,  96, 128,
       112, 133, 138, 128, 126, 146, 134, 130, 157, 124, 132, 160,  97,
        64,  90, 123, 120, 105, 139, 107, 144, 144, 111, 120, 116, 124,
       107, 145, 125, 141,  82, 122, 101, 163,  72, 114, 122, 105, 120,
       129, 132, 108, 135, 133, 118, 121,  94, 135, 110, 100,  88,  90,
       151, 101, 117, 156, 132, 117, 122, 129,  81, 144, 112,  81, 100,
       101, 118, 132, 115, 159, 129, 112, 112, 105, 166,  89, 110,  63,
        86, 119, 132, 130, 125, 151, 158, 145, 105, 154, 117,  96, 131,
       113,  72,  97, 156, 103,  89,  74,  89,  99, 137, 123, 104, 130,
        96,  99,  87, 110,  99, 134, 132, 133, 120, 126,  80, 166, 132,
       135,  54, 129, 171,  72, 136, 130, 129, 152,  98, 139, 103, 150,
       104, 122, 104, 111,  89, 112, 134, 104, 147,  83, 110, 143, 102,
       101, 126,  91,  93, 118, 121, 126, 149, 125, 112, 107,  96,  91,
       105, 122,  92, 145, 146, 164,  72, 118, 130, 114, 104, 110, 108,
       131, 162, 134,  53,  79, 122, 119, 126,  98, 116, 118, 124,  92,
       125, 119, 107,  89, 151, 121,  68, 112, 132, 160, 115,  78, 107,
       111, 124, 130, 120, 139, 128, 120, 159,  95, 120], dtype=int64)

In [14]:
data_dict = {}
for each in column_names:
    if data[each].dtypes == 'int64':
        data[each] = data[each].astype(float)
    data_dict[each] = list(data[each].values)

In [16]:
data.dtypes

Unnamed: 0       int64
Sales          float64
CompPrice      float64
Income         float64
Advertising    float64
Population     float64
Price          float64
ShelveLoc       object
Age            float64
Education      float64
Urban           object
US              object
dtype: object

In [17]:
myClient = pymongo.MongoClient("mongodb://localhost:27017/")

In [18]:
new_db = myClient['climate']

In [19]:
new_collection = new_db['climate_data']

In [20]:
col = new_collection.insert(data_dict)

C:\Users\HP WORLD\Anaconda4\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """Entry point for launching an IPython kernel.