In [11]:
import sqlite3

In [12]:
conn = sqlite3.connect("student.db")

In [13]:
conn.execute("CREATE TABLE employee\
             (employee_name CHAR(10) NOT NULL,\
             employee_id INT(10) PRIMARY KEY NOT NULL)")

In [14]:
conn.execute("CREATE TABLE projects\
(project_id CHAR(5) NOT NULL,\
proj_name CHAR(10) NOT NULL,\
employee_id INT(10),FOREIGN KEY(employee_id) references employee(employee_id))")

In [15]:
conn.execute("Insert into employee VALUES('XYZ',10)")
conn.execute("Insert into employee VALUES('ABC',11)")
conn.execute("Insert into employee VALUES('KLJ',12)")
conn.execute("Insert into employee VALUES('IUS',13)")

In [16]:
cur = conn.execute("SELECT * from employee")

In [17]:
for each in cur:
    print(each[0])
    print(each[1])

XYZ
10
ABC
11
KLJ
12
IUS
13

In [18]:
conn.execute("Insert into projects VALUES('XYZ12','project1',10)")
conn.execute("Insert into projects VALUES('XYZ13','project2',11)")
conn.execute("Insert into projects VALUES('XYZ15','project3',10)")
conn.execute("Insert into projects VALUES('XYZ14','project1',12)")

In [19]:
curr = conn.execute("SELECT *  FROM projects")

In [20]:
for each in curr:
    print(each[0])
    print(each[1])
    print(each[2])

XYZ12
project1
10
XYZ13
project2
11
XYZ15
project3
10
XYZ14
project1
12

### WHERE conditions

In [22]:
proj = conn.execute("SELECT employee_name from employee where employee_id IN (10,12)")

In [23]:
for each in proj:
    print(each[0])

XYZ
KLJ

In [26]:
proj = conn.execute("SELECT employee_name from employee where employee_id=10 OR employee_id=12")

In [27]:
for each in proj:
    print(each[0])

XYZ
KLJ

In [32]:
sort = conn.execute("SELECT employee_name,employee_id from employee ORDER BY employee_id DESC")

In [33]:
for each in sort:
    print(each[0])
    print(each[1])

IUS
13
KLJ
12
ABC
11
XYZ
10

#### DISTINCT

In [34]:
dist = conn.execute("SELECT DISTINCT employee_id FROM projects")

In [35]:
for each in dist:
    print(each[0])

10
11
12

### JOINS

In [42]:
join  = conn.execute("SELECT employee.employee_id, proj_name from employee left outer join projects on employee.employee_id=projects.employee_id")

In [43]:
for each in join:
    print("Employee ID: " + str(each[0]) + " Project name: " + str(each[1]))

Employee ID: 10 Project name: project1
Employee ID: 10 Project name: project3
Employee ID: 11 Project name: project2
Employee ID: 12 Project name: project1
Employee ID: 13 Project name: None

In [50]:
join  = conn.execute("SELECT employee.employee_id, proj_name from employee inner join projects on employee.employee_id=projects.employee_id")

In [51]:
for each in join:
    print("Employee ID: " + str(each[0]) + " Project name: " + str(each[1]))

Employee ID: 10 Project name: project1
Employee ID: 11 Project name: project2
Employee ID: 10 Project name: project3
Employee ID: 12 Project name: project1